tmp
temp
__debug*
video.mp4
.DS_Store
mo-data
mo-data
backup.yaml
mogenius*.db
mogenius-stats*.db
.idea/
.envrc
kube-config
kubeconfig.tmpl
kubeconfig.yaml
./mogenius-k8s-manager
logs
helm-data
bin
/log_errors.txt
.env
/dist
/.vscode/settings.json
/docker-compose.override.yml
.kubeconfig
/patternlogs_*
/patternlogs.jsonl
