services:
  valkey:
    image: docker.io/bitnami/valkey:8.0
    restart: unless-stopped
    environment:
      - VALKEY_PASSWORD=0000
    ports:
      - 6379:6379
    volumes:
      - valkey_data:/bitnami/valkey/data
      
volumes:
  valkey_data:
    driver: local
