apiVersion: v1
kind: ConfigMap
metadata:
  name: mogenius-operator-default-deployment
  namespace: mogenius
data:
  deployment: |
    apiVersion: apps/v1
    kind: Deployment
    spec:
      template:
        spec:
          securityContext:
            runAsNonRoot: true
