name: Build, Package, Release

on:
  push:
    branches:
      - develop

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v2
        with:
          fetch-depth: 0

      - name: Login to GitHub Container Registry
        uses: docker/login-action@v2
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.MO_K8s_TOKEN }}

      - name: Create Sematic Release Version
        run: |
          npm install -g standard-version
          git config --global user.email "mok8s@mogenius.com"
          git config --global user.name "mok8s"
          git config --global credential.helper cache
          standard-version --header ""
          git push --follow-tags origin develop

      - name: Docker Build & Push
        run: |
          set -x
          GIT_BRANCH=$(git branch | grep \* | cut -d ' ' -f2 | tr '[:upper:]' '[:lower:]')
          COMMIT_HASH=$(git rev-parse --short HEAD)
          GIT_BRANCH=$(git rev-parse --abbrev-ref HEAD)
          BUILD_TIMESTAMP=$(date -Iseconds)
          VERSION=$(git describe --tags $(git rev-list --tags --max-count=1))
          # docker build --build-arg NEXT_VERSION="$VERSION" --build-arg BUILD_TIMESTAMP="$BUILD_TIMESTAMP" --build-arg GIT_BRANCH="$GIT_BRANCH" --build-arg COMMIT_HASH="$COMMIT_HASH" -f Dockerfile-dev -t ghcr.io/mogenius/mogenius-k8s-manager-dev:$VERSION -t ghcr.io/mogenius/mogenius-k8s-manager-dev:latest .
          docker buildx create --use
          docker buildx build --push --platform linux/amd64,linux/arm64 --build-arg NEXT_VERSION="$VERSION" --build-arg BUILD_TIMESTAMP="$BUILD_TIMESTAMP" --build-arg GIT_BRANCH="$GIT_BRANCH" --build-arg COMMIT_HASH="$COMMIT_HASH" -f Dockerfile-dev -t ghcr.io/mogenius/mogenius-k8s-manager-dev:$VERSION -t ghcr.io/mogenius/mogenius-k8s-manager-dev:latest .


      - name: Grype Vulnerability Scan
        run: |
          VERSION=$(git describe --tags $(git rev-list --tags --max-count=1))
          curl -sSfL https://raw.githubusercontent.com/anchore/grype/main/install.sh | sh -s -- -b /usr/local/bin
          curl -sSfL https://raw.githubusercontent.com/mogenius/docs/dev/grype.yaml > grype.yaml
          grype -c grype.yaml --add-cpes-if-none --fail-on critical ghcr.io/mogenius/mogenius-k8s-manager-dev:$VERSION

      # currently it is not possible to seperate build and push when using buildx
      # https://github.com/docker/buildx/issues/1152
      # - name: Docker Build & Push
      #   run: |
      #     VERSION=$(git describe --tags $(git rev-list --tags --max-count=1))
      #     # docker image push ghcr.io/mogenius/mogenius-k8s-manager-dev:$VERSION; docker image push ghcr.io/mogenius/mogenius-k8s-manager-dev:latest
      #     docker buildx -t ghcr.io/mogenius/mogenius-k8s-manager-dev:$VERSION -t ghcr.io/mogenius/mogenius-k8s-manager-dev:latest --push
