name: Registry Cleanup

on:
  workflow_dispatch:
  schedule:
    - cron: "0 7 * * *"

jobs:
  clean:
    runs-on: ubuntu-latest
    name: Delete old `-dev` images
    steps:
      ## # Deletion speed
      ##
      ## Because of GitHub's secondary rate limit, we're at most able to delete 180 package versions per minute (source and source). This means that a run which deletes 180 package versions might finish in a few seconds, while a run that deletes 181 package versions might take just over a minute.
      ##
      ## # multi-arch images
      ##
      ## The action has documented issues with multi-architecture images as Githubs API does not provide enough information to correctly map tags to all corresponding variants.
      ## However: Since we are using this action based on **age** of images this is should not be relevant for us.
      - uses: snok/container-retention-policy@v3.0.0
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          ## mogenius/mogenius-k8s-manager-dev:latest
          ## ^^^^^^^^
          account: mogenius
          ## mogenius/mogenius-k8s-manager-dev:latest
          ##          ^^^^^^^^^^^^^^^^^^^^^^^^
          image-names: mogenius-k8s-manager-dev
          ## mogenius/mogenius-k8s-manager-dev:latest
          ##                                   ^^^^^^
          image-tags: "*"
          keep-n-most-recent: 50 # always keep the last 50 images
          cut-off: 3w # delete images older than 3 weeks
          rust-log: info