name: Integration Test and Linting

on:
  push:
    branches:
      - "!**"
      - "!main"
      - "!develop"


jobs:
  golangci:
    # needs: prepare
    runs-on: [self-hosted]
    defaults:
      run:
        shell: bash
    permissions:
      # Required: allow read access to the content for analysis.
      contents: read
      # Optional: allow read access to pull request. Use with `only-new-issues` option.
      pull-requests: read
      # Optional: allow write access to checks to allow the action to annotate code in the PR.
      checks: write
    steps:
      - name: Checkout repository
        uses: actions/checkout@v5
      - uses: actions/setup-go@v6
        with:
          go-version: stable
      - name: golangci-lint
        uses: golangci/golangci-lint-action@v8
        with:
          version: latest
          only-new-issues: true
          args: --timeout=30m

  govet:
    # needs: prepare
    runs-on: [self-hosted]
    defaults:
      run:
        shell: bash
    steps:
      - name: Checkout repository
        uses: actions/checkout@v5
        with:
          fetch-depth: 0
      - uses: actions/setup-go@v6
        with:
          go-version: stable
      - name: go vet
        run: |
          export GOPATH=$(go env GOPATH)
          export GOMODCACHE=$(go env GOMODCACHE)
          go vet ./...

  unit-tests:
    # needs: prepare
    runs-on: [self-hosted]
    defaults:
      run:
        shell: bash
    steps:
      - name: Checkout repository
        uses: actions/checkout@v5
        with:
          fetch-depth: 0
      - uses: actions/setup-go@v6
        with:
          go-version: stable
      - name: Execute Tests
        run: |
          export GOPATH=$(go env GOPATH)
          export GOMODCACHE=$(go env GOMODCACHE)
          echo $GOPATH
          echo $GOMODCACHE
          go mod download
          go run gotest.tools/gotestsum@latest --format="github-actions" --hide-summary="skipped" --format-hide-empty-pkg --rerun-fails="0" -- -count=1 ./src/...