name: Build, Package, Release (Production)

on:
  push:
    branches:
      - main

env:
  IMAGE_NAME: ghcr.io/mogenius/mogenius-k8s-manager
  DOCKERFILE: Dockerfile
  HELMNAME: "mogenius-k8s-manager"
  HELMREPO: "mogenius/helm-k8s-manager"

jobs:
  prepare:
    runs-on: self-hosted
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Login to GitHub Container Registry
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.MO_K8s_TOKEN }}

      - name: Create Sematic Release Version
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: |
          export HOME=/root
          git config --system http.sslVerify false
          git config --global user.email "mok8s@mogenius.com"
          git config --global user.name "mok8s"
          git config --global credential.helper cache
          npx semantic-release

  build-amd64:
    needs: prepare
    runs-on: [self-hosted, X64]
    steps:
      - name: Check out code
        uses: actions/checkout@v4
        with:
          fetch-depth: 0
      
      - name: Login to GitHub Container Registry
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.MO_K8s_TOKEN }}

      - name: Build and push AMD64 image
        run: |
          GIT_BRANCH=$(git branch | grep \* | cut -d ' ' -f2 | tr '[:upper:]' '[:lower:]')
          COMMIT_HASH=$(git rev-parse --short HEAD)
          GIT_BRANCH=$(git rev-parse --abbrev-ref HEAD)
          BUILD_TIMESTAMP=$(date -Iseconds)
          VERSION=$(git describe --tags $(git rev-list --tags --max-count=1))
          docker build -f ${{ env.DOCKERFILE }} --build-arg GOOS=linux --build-arg GOARCH=amd64 --build-arg VERSION="$VERSION" --build-arg BUILD_TIMESTAMP="$BUILD_TIMESTAMP" --build-arg GIT_BRANCH="$GIT_BRANCH" --build-arg COMMIT_HASH="$COMMIT_HASH" -t ${{ env.IMAGE_NAME }}:$VERSION-amd64 -t ${{ env.IMAGE_NAME }}:latest-amd64 .
          docker push ${{ env.IMAGE_NAME }}:$VERSION-amd64

  build-arm64-linux:
    needs: prepare
    runs-on: [self-hosted, ARM64]
    steps:
      - name: Check out code
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Login to GitHub Container Registry
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.MO_K8s_TOKEN }}

      - name: Build and push ARM64-linux image
        run: |
          GIT_BRANCH=$(git branch | grep \* | cut -d ' ' -f2 | tr '[:upper:]' '[:lower:]')
          COMMIT_HASH=$(git rev-parse --short HEAD)
          GIT_BRANCH=$(git rev-parse --abbrev-ref HEAD)
          BUILD_TIMESTAMP=$(date -Iseconds)
          VERSION=$(git describe --tags $(git rev-list --tags --max-count=1))
          docker build --platform=linux/arm64 -f ${{ env.DOCKERFILE }} --build-arg GOOS=linux --build-arg GOARCH=arm64 --build-arg VERSION="$VERSION" --build-arg BUILD_TIMESTAMP="$BUILD_TIMESTAMP" --build-arg GIT_BRANCH="$GIT_BRANCH" --build-arg COMMIT_HASH="$COMMIT_HASH" -t ${{ env.IMAGE_NAME }}:$VERSION-arm64-linux -t ${{ env.IMAGE_NAME }}:latest-arm64-linux .
          docker push ${{ env.IMAGE_NAME }}:$VERSION-arm64-linux

  build-arm64:
    needs: prepare
    runs-on: [self-hosted, ARM64]
    steps:
      - name: Check out code
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Login to GitHub Container Registry
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.MO_K8s_TOKEN }}

      - name: Build and push ARM64 image
        run: |
          GIT_BRANCH=$(git branch | grep \* | cut -d ' ' -f2 | tr '[:upper:]' '[:lower:]')
          COMMIT_HASH=$(git rev-parse --short HEAD)
          GIT_BRANCH=$(git rev-parse --abbrev-ref HEAD)
          BUILD_TIMESTAMP=$(date -Iseconds)
          VERSION=$(git describe --tags $(git rev-list --tags --max-count=1))
          docker build -f ${{ env.DOCKERFILE }} --build-arg GOOS=linux --build-arg GOARCH=arm64 --build-arg VERSION="$VERSION" --build-arg BUILD_TIMESTAMP="$BUILD_TIMESTAMP" --build-arg GIT_BRANCH="$GIT_BRANCH" --build-arg COMMIT_HASH="$COMMIT_HASH" -t ${{ env.IMAGE_NAME }}:$VERSION-arm64 -t ${{ env.IMAGE_NAME }}:latest-arm64 .
          docker push ${{ env.IMAGE_NAME }}:$VERSION-arm64

  merge-images:
    needs: [build-amd64, build-arm64, build-arm64-linux, prepare]
    runs-on: self-hosted
    steps:
      - name: Check out code
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Login to GitHub Container Registry
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.MO_K8s_TOKEN }}

      - name: Merge images into a multi-arch manifest
        run: |
          VERSION=$(git describe --tags $(git rev-list --tags --max-count=1))
          docker manifest create ${{ env.IMAGE_NAME }}:$VERSION \
              --amend ${{ env.IMAGE_NAME }}:$VERSION-amd64 \
              --amend ${{ env.IMAGE_NAME }}:$VERSION-arm64-linux \
              --amend ${{ env.IMAGE_NAME }}:$VERSION-arm64
          docker manifest push ${{ env.IMAGE_NAME }}:$VERSION
          docker manifest create ${{ env.IMAGE_NAME }}:latest \
              --amend ${{ env.IMAGE_NAME }}:$VERSION-amd64 \
              --amend ${{ env.IMAGE_NAME }}:$VERSION-arm64-linux \
              --amend ${{ env.IMAGE_NAME }}:$VERSION-arm64
          docker manifest push ${{ env.IMAGE_NAME }}:latest

  helm-chart:
    # needs: [prepare]
    needs: [prepare, build-amd64, build-arm64, build-arm64-linux, merge-images]
    runs-on: ubuntu-latest

    steps:
      - name: Check out code
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: set version env
        run: echo "SEMVERSION=$(git describe --tags $(git rev-list --tags --max-count=1))" >> $GITHUB_ENV  

      - name: Checkout
        uses: actions/checkout@v4
        with:
          ref: main
          # token: ${{ secrets.DOCKERHUB_TOKEN }}
          token: ${{ secrets.MO_K8s_TOKEN }}
          repository: ${{ env.HELMREPO }}
          path: 'helm'        

      - name: package and push
        run: |
          cd ./helm
          sed -i -e "s/v1.0.72/${{ env.SEMVERSION }}/" values.yaml
          helm package -d /tmp/ --version ${{ env.SEMVERSION }} .
          curl -XPOST -L -k --data-binary "@/tmp/${{ env.HELMNAME }}-${{ env.SEMVERSION }}.tgz" https://${{ secrets.MO_HELMUSER }}:${{ secrets.MO_HELMPASS }}@helm.mogenius.com/api/public/charts

      # - name: Grype Vulnerability Scan
      #   run: |
      #     VERSION=$(git describe --tags $(git rev-list --tags --max-count=1))
      #     curl -sSfL https://raw.githubusercontent.com/anchore/grype/main/install.sh | sh -s -- -b /usr/local/bin
      #     curl -sSfL https://raw.githubusercontent.com/mogenius/docs/dev/grype.yaml > grype.yaml
      #     grype -c grype.yaml --add-cpes-if-none --fail-on critical ghcr.io/mogenius/mogenius-k8s-manager:$VERSION

      # currently it is not possible to seperate build and push when using buildx
      # https://github.com/docker/buildx/issues/1152
      # - name: Docker Build & Push
      #   run: |
      #     VERSION=$(git describe --tags $(git rev-list --tags --max-count=1))
      #     # docker image push ghcr.io/mogenius/mogenius-k8s-manager:$VERSION; docker image push ghcr.io/mogenius/mogenius-k8s-manager:latest
      #     docker buildx -t ghcr.io/mogenius/mogenius-k8s-manager:$VERSION -t ghcr.io/mogenius/mogenius-k8s-manager:latest --push
